@font-face {
    font-family: 'Roboto Bold';
    src: url('font/bold.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('font/medium.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('font/regular.ttf');
}

body {
	background-color: rgb(14, 40, 102);
}

form {
	margin: auto;
	margin-top: 15%;
	padding: 6% 4% 6% 4%;
	width: 50%;
	height: 30%;
	background-color: #0045AD;
	border-radius: 30px;
}

p {
	font-size: 28pt;
	padding: 0;
	margin: 0 0 5% 0;
	color: black;
	font-weight: bold;
	font-family: "Roboto Medium";
	color: white;
	height: 33%;
	text-align: center;
	text-shadow: 0px 3px 5px #00000055;
}

textarea {
	font-family: "Roboto Medium";
	font-size: 12pt;
	resize: none;
	border: solid 1px lightgray;
	border-radius: 30px;
	padding: 5px;
	text-align: center;
	display: block;
	height: 33%;
	margin: auto;
}

input {
	font-family: "Roboto Medium";
	font-size: 16pt;
	display: block;
	margin: 5% auto auto auto;
	height: 33%;
	padding: 25px 45px;
	border-radius: 15px;
}

input:hover {
	background-color: white;
}